.doryo-header {
  $self: &;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  opacity: 1;
  
  &__logo img {
    margin-bottom: -3rem;
    transition: all 0.3s ease-in-out;
    max-width: 150px;
  }

  &--sticky {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--e-global-color-secondary);

    #{ $self }__logo img {
      max-width: 70px;
      margin-bottom: -2.4rem;
    }

    .menu-item,
    .elementor-widget-icon {
      filter: invert(1);
    }
  }
}
